<div>
    <div class="ms-4 me-4 " style="background-color: rgb(236, 236, 236); ">
        <div class="d-flex align-items-center justify-content-center  container pt-5">
            <div class="w-50">
                <h1 class="title  text-black mb-4">Tech Accessories</h1>
                <p>Discover Smart electronic accessories for Modern Living
                    <br>Upgrade your tech today .
                </p>
                <button class="btn btn-shop">Shop Now</button>
            </div>
            <div class="image-container ">
                <img [src]="'assets/images/img1.png'" class="image" alt="">
            </div>
        </div>
    </div>
    <div class="container container-category pt-4 mt-4 ">
        <h4 class="ms-4 mb-4 fw-bold fs-5 category-title">Shop By Categories</h4>
        <div class="category-wrapper position-relative ">
            <button class=" scroll-btn  right" (click)="scrollRight()"><i class="bi bi-arrow-right "></i></button>
            <div class="category-container " #scrollContainer>
                <div class="card border-0  category-card " *ngFor="let category of categories">
                    <div class="image-category">
                        <img [src]="'assets/images/'+ category.imgURL" alt="">
                        <p class="mt-5  cat-title">{{category.categoryName}}</p>
                    </div>
                </div>
            </div>
            <button class=" scroll-btn  left" (click)="scrollLeft()"><i class="bi bi-arrow-left "></i></button>
        </div>
    </div>
    <div class="container container-promo  mt-5 ">
        <div class="row">
            <div class="col-md-6">
                <div class=" card  border-0 " style="background-color: rgb(236, 236, 236);">
                    <div class="row">
                        <div class="col-md-6  pt-5 ps-5">
                            <p class="text-danger">10% OFF This Week</p>
                            <p>Take control of every game with <br>precision
                                and comfort</p>
                            <button class="btn btn-featured ">Shop Now</button>
                        </div>
                        <div class="img-featured col-md-6">
                            <img [src]="'assets/images/img7.png'" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" card  border-0 " style="background-color: rgb(236, 236, 236);">
                    <div class="row">
                        <div class="col-md-6  pt-5 ps-5">
                            <p class="text-danger">20% OFF Today</p>
                            <p>Keep your home safe with smart <br>reliable 24/7 monitoring</p>
                            <button class="btn btn-featured">Shop Now</button>
                        </div>
                        <div class="img-featured col-md-6">
                            <img [src]="'assets/images/img14.png'" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container conatiner-featured mt-5">
        <h4 class="mb-4   fw-bold fs-5 title title-font" style="text-align: center;">Featured Products</h4>
        <div class="row">
            <div class="col-md-2" *ngFor="let product of products">
                <div class=" card  border-0 card-custom d-flex align-items-center mb-2 ">
                    <div class="image-bestSellers">
                        <img [src]="'assets/images/' + product.imageURL" alt="">
                    </div>
                    <div class="star-rating pt-2">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <p class=" ps-4 pe-4 ">{{product.name}}</p>
                    <p class=" ps-4 pe-4 text-black fw-bold">{{product.price}}</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container conatiner-bestSellers mt-5">
        <h4 class="mb-4 fw-bold fs-5 title  title-font" style="text-align: center;">Best Sellers</h4>
        <div class="row">
            <div class="col-md-2 " *ngFor="let product of products">
                <div class=" card  border-0 card-custom d-flex align-items-center mb-2 ">
                    <div class="image-bestSellers">
                        <img [src]="'assets/images/' + product.imageURL" alt="">
                    </div>
                    <div class="star-rating pt-2">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <p class=" ps-4 pe-4 ">{{product.name}}</p>
                    <p class=" ps-4 pe-4 text-black fw-bold">{{product.price}}</p>

                </div>
            </div>
        </div>
    </div>

    <div class="container container-promotion  mt-5 ">
        <div class="row">
            <div class="col-md-4">
                <div class=" card " style="height:415px; background-color: rgb(236, 236, 236);">
                    <img [src]="'assets/images/pro5.png'" class="img-card" alt=""
                        style="width: 100%; height: 100%; object-fit: contain;">
                    <div class="overlay-text">
                        <p class="p-pro">20% OFF</p>
                        <p class="p-title">Sony Headphones</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class=" card border-0 ">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="card" style="height: 200px; background-color: rgb(236, 236, 236);">
                                <img [src]="'assets/images/pro6.png'" alt="" class="img-card "
                                    style="width: 70%; height: 100%; object-fit: contain;margin-left: 125px ;">
                                <div class="overlay-text">
                                    <p class="p-pro">20% OFF</p>
                                    <p class="p-title">Security Camera</p>
                                    <p>Protect your home</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" style="height: 200px; background-color: rgb(236, 236, 236);">
                                <img [src]="'assets/images/pro4.png'" alt="" class="img-card "
                                    style="width: 70%; height: 100%; object-fit: contain;margin-left: 125px ;">
                                <div class="overlay-text">
                                    <p class="p-pro">20% OFF</p>
                                    <p class="p-title">Samsung Earbuds</p>
                                    <p>Experience clear <br>sound</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card  mt-3"
                            style="width: 100% ; height: 200px; background-color: rgb(236, 236, 236);">
                            <img [src]="'assets/images/pro2.png'" alt=""
                                style="width: 100%; height: 100%; object-fit: contain;">
                            <div class="overlay-text">
                                <p class="p-pro">10% OFF</p>
                                <p class="p-title">Smartwatches</p>
                                <p> Take your activity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe " style="background-color: rgb(236, 236, 236);">
        <div class="row ">
            <div class="col-md-6 d-flex align-items-center text-subscribe">
                <div>
                    <h4 class="text-black fw-bold">Exclusive Offers</h4>
                    <p>Subscribe now to get weekly updates, exclusive new stuff, and enjoy 10% off your first purchase
                    </p>
                    <div class=" d-flex gap-2">
                        <input class="input-subscribe" type="text" placeholder="Enter Your Email">
                        <button class=" btn btn-subscribe ">subscribe</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-subscribe">
                    <img [src]="'assets/images/img3.png'" alt="" class="ms-5 ">
                </div>
            </div>
        </div>
    </div>
</div>