.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
}
.btn-search{
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
.input-search{
  width: 180px;
  font-size: 13px;
  padding: 4px 8px;
}


.header-nav {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
