.navbar{
    background-color: black;
}
.myshop{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
}
.compte{
    color: rgb(255, 255, 255);
}
.compte-icon{
    color: rgb(255, 255, 255);
}
.cart{
    color: rgb(255, 255, 255);
}
.panier{
    color: rgb(250, 250, 250);
}