.width {
    width: 420px ;
}
.color{
    background-color: #d4bbb8;
    color: black;
}
.color:hover{
     background-color: #B78C83;
     color: rgb(0, 0, 0);
}

.color:active{
    background-color:  #B78C83 !important;
    color: rgb(0, 0, 0) !important;
}
.colorz{
    background-color:aqua ;
}