.content{
     background-color: #DCDCDC;
    
}
.custom-input{
    max-width: 30%;
    margin:auto;
   
    
} 
.color{
    background-color: #f0ebe6 ;
    width:95%;
  
}


.list-group{
   padding-left: 25px;
   list-style-type:none;
   
 }

.category-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    color:#333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
.item{
    background-color: none;
    border:none;
    font-size: 13px;
    cursor: pointer;
    
}
.item:hover{
    color:rgb(199, 127, 79);
}
.item:active{
    color:rgb(199, 127, 79);
}
 
 
.list-products{
    background-color: rgb(255, 255, 255);
    width: 95%;
}

.card{
    width: 100%;
    height: 280px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img {
    width: 100%;
    height:150px ;
    object-fit: contain;
    
}
.card body{
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.card-title{
    font-size: 12px;
    margin-bottom:2px ;
}
.card-text{
    font-size: 12px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price{
    font-size:14px ;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
      
}
.btn-custom{
    font-size:12px ;
    padding: 6px;
    width:100%;
    background-color: black;
    color:rgb(255, 255, 255);
}






