.search-wrapper {
    width: 35%;
}

.search-icon {
    font-size: 16px;
    color: #ccc;
    left: 15px;
}

.search-input {
    height: 35px;
    border-radius: 50px 0 0 50px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding-left: 2.5rem;

}

.btn-search {
    background-color: #000;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0 50px 50px 0;
    height: 35px;
    border: none;
    padding: 0 15px;

}

.color {
    background-color: #f0ebe6;
    width: 95%;

}


.list-group {
    list-style-type: none;

}

.title {
    font-size: 20px;
    font-weight: bold;
    
}

.category-title{
    @extend .title ;
    margin-top: 5px;

}

.price-title{
    @extend .title ;

}
.brand-title{
     @extend .title ;

}

.item {
    background-color: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

}

.item:hover {
    color: rgb(199, 127, 79);
}

.item:active {
    color: rgb(199, 127, 79);
}


.list-products {
    background-color: rgb(255, 255, 255);
    width: 95%;
}

.card {
    width: 100%;
    height: 280px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;

}

.card body {
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-title {
    font-size: 12px;
    margin-bottom: 2px;
}

.card-text {
    font-size: 12px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;

}

.btn-custom {
    font-size: 12px;
    border-radius: 15px;
    width: 100%;
   
}

.btn-black {
    @extend .btn-custom;
    background-color: #000;
    border: none;
    color: #ffffff;
}

.btn-black:hover {
    background-color: #333
}

.btn-white {
    @extend .btn-custom;
    background-color: #ffffff;
    color: #000;
    border: 1px solid black;
}

.btn-black:hover {
    background-color: #f0f0f0
}

.color-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #888;
    cursor: pointer;
    padding: 0;
    outline: none;
   
}
